@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img id="home_img" alt="Sample Photo" src="~/css/consulting.webp" 
    width = "400" >
    <h1 class="display-4">Hi, there! =)</h1>
</div>